@page
@model Nuages.Identity.UI.Pages.Config

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table>
         @foreach (var v in Model.Values)
            {
                if (!v.Key.Contains("Localization"))
                {
                    <tr>
                        <td>@v.Key</td> 
                        <td>@v.Value</td>
                    </tr>
                }
               
            }
    </table>
   
</div>
</body>
</html>