bin/
obj/
riderModule.iml
/_ReSharper.Caches/
logs/*.*
logs/
/.idea/
*.DotSettings
*.DotSettings.user
appsettings.testdata.json
appsettings.local.json
appsettings.prod.json
internal-nlog.txt
node_modules
tailwind-output.css
/packages/
.DS_Store
cdk.out
