@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Localizer["confirmEmail:title"];
}


<div class="mb-4 p-4">
    <span class="text-green-700 font-medium">
        <i class="fas fa-check"></i> @Model.StatusMessage
    </span>
</div>

