@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Localizer["confirmEmail:title"];
}

<div class="flex justify-center mt-4">
    <div class="flex flex-col " >
        <i class="fa fa-check-circle text-green-700 fa-3x text-center" ></i>
        <span class="mt-4">@Model.StatusMessage</span>
    </div>
</div>

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}