@page
@model Nuages.Identity.UI.Pages.Account.EmailNotConfirmed
@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions


@{
    ViewData["Title"] = Localizer["emailNotConfirmed:title"];
}

<partial name="Shared/ErrorList"/>

<div class="flex justify-center mt-6">
    <i class="fas fa-spinner fa-spin fa-3x" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
    <div class="flex flex-col " v-if="status == 'sent'" v-show="status == 'sent'" style="display: none">
        <i class="fa fa-check-circle text-green-700 fa-3x text-center" ></i>
        <span class="mt-4">@Localizer["emailNotConfirmed:seeEmail"]</span>
    </div>
</div>

<form class="space-y-4 mt-4" method="POST" v-on:submit.prevent="login" id="formLogin" v-if="status == ''">
    <h4>@Localizer["emailNotConfirmed:message"]</h4>
    <button v-on:click.prevent="send" class="primary full">
        @Localizer["emailNotConfirmed:sendAgain"]
    </button>
</form>


@section Scripts
{
    <script>
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
    </script>
    <script src="/js/pages/emailNotConfirmed.js"></script>
}

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}