@page
@model Nuages.Identity.UI.Pages.Account.LoginWithSMS
@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["loginWithSMS:title"];
}

<form class="space-y-4 mt-4" method="POST" v-on:submit.prevent="loginSMS" id="formLoginSMS" >
    <span>@Localizer["loginWithSMS:instructions"]</span>
    <partial name="Shared/ErrorList"/>
    <button v-on:click.prevent="loginSMS" class="primary full items-center"  :disabled="status == 'sending'">
        @Localizer["loginWithSMS:send"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
    </button>
</form>

@section Scripts
{
    <script>
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
         var returnUrl = '@Html.Raw(Model.ReturnUrl)';
    </script>
    <script src="/js/pages/sendSMSCode.js"></script>
}

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}