<div class="rounded-md bg-red-50  p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <!-- Heroicon name: solid/exclamation -->
        </div>
        <div class="ml-3">
            <h3 class=" font-medium text-red-800">

                @Model?.Title
            </h3>
            <div class="mt-2  text-red-700">
                @Model?.Message

            </div>
        </div>
    </div>
</div>