@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions

<!DOCTYPE html>
<html lang="en" class="dark ">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Nuages.Identity.UI</title>

    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/tailwind-output.css"/>
    <script src="https://kit.fontawesome.com/34d2a269b0.js" crossorigin="anonymous"></script>
    
</head>
<body class="w-full">

<div class="min-h-screen bg-gray-100 flex flex-col justify-start sm:px-6 lg:px-8">
    <div class="mt-8 ">
         <a href="~/account/logout">Logout</a>
        @RenderBody()
    </div>
</div>

<environment names="Production">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</environment>
<environment names="Development">
    <script src="https://unpkg.com/vue@3"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>