@inject IConfiguration Configuration;
@inject IOptions<UIOptions> UIOptions
@{


  ViewBag.LogoUrl = UIOptions.Value.LogoUrl;

 
}

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    @if (ViewBag.LogoUrl != null)
    {
      <img class="mx-auto h-24" src="@ViewBag.LogoUrl" alt="Workflow">
    }
    
    <h2 class="mt-6 page-header text-center ">
      @ViewData["Title"]
    </h2>
  </div>



