<div class="relative mt-6">
    <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300 dark:border-white" ></div>
    </div>
    <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white dark:bg-slate-900 text-gray-500 dark:text-white">
           @Model.Title
        </span>
    </div>
</div>