@using Nuages.Identity.UI.Setup
@inject IConfiguration Configuration;
@inject IOptions<UIOptions> UIOptions

<div class="sm:mx-auto sm:w-full sm:max-w-md">
   
    <h2 class="mt-6 page-header text-center dark:text-white">
        @ViewData["Title"]
    </h2>
</div>



