@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
}

<div  id="app">
    <h2 class="page-header">Configure authenticator app</h2>
    <div class="flex justify-center">
        <i class="fas fa-spinner fa-spin fa-3x" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
        <div class="flex flex-col " v-if="status == 'done'" v-show="status == 'done'" style="display: none">
            <i class="fa fa-check-circle text-green-700 fa-3x text-center"></i>
        </div>
    </div>
    
    <div v-if="status == ''" v-show="status == ''" class="space-y-4 flex flex-col" >
         <div class="text-gray-500">To use an authenticator app go through the following steps:</div>
            
            <div class="space-y-2">
                <STRONG>Scan the QR Code </STRONG>
                <div id="qrCode" class="justify-center"></div>
                <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
            </div>
    
         <span class="text-gray-500"> or enter this key</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-indigo-100 text-lg text-indigo-800">
                @Model.SharedKey
            </span>
            <p class="text-gray-500">
                Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                with a unique code. Enter the code in the confirmation box below.
            </p>
            <div>
                  <partial name="Shared/ErrorList"/>
                  <form class="mt-4 w-72 flex space-x-2" id="formCode" method="post" v-on:submit.prevent="verifyCode" v-if="status != 'sending' && status != 'done'">
                     <input id="code" name="code" required class="text-box " v-model="code"/>
                    <button type="button" class="primary" v-on:click.prevent="verifyCode">Verify</button>
                  
                  </form>
            </div>
    </div>
   
  
</div>

@section RightNav
{
    <div><strong> Download a two-factor authenticator app like</strong>
                   
            
                    <ul class="list-disc ml-4 mt-2">
                        <li>Microsoft Authenticator</li>
                        <li>Google Authenticator</li>
                        <li>Authy</li>
                        <li>LastPass Authenticator</li>
                        <li>Duo Mobile</li>
                    </ul>
                </div>
}
@section Scripts {

    <script>
      var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";
    </script>
  
    
    <script src="/js/pages/manage/enableAuthenticator.js"></script>
    <script src="/lib/qrcode.js"></script>
    <script src="/js/qr.js"></script>
}