@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "_LayoutSettings";
}

<div class="flex flex-row bg-blue-50">
  <div class="basis-1/4">01</div>
  <div class="basis-1/2">02</div>
  <div class="basis-1/4">03</div>
</div>

@section Scripts {
   
}
