@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Localizer["confirmEmail:title"];
}


<div class="mb-4 p-4 space-y-6">
    <span class="green-success font-medium">
        <i class="fas fa-check"></i> @Model.StatusMessage
    </span>
    <div class="text-red-600 text-center">
        <a class="primary "  href="~/">@Localizer["login.back"]</a>
    </div>
   
</div>

